name: Laravel

on:
  push:
    branches:
      - "main"
      - "renovate/**"
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@f89a301251ea3f109745bab3a62be58575f216bf
      with:
        php-version: '8.4'
    - uses: actions/checkout@v6
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via PHPUnit/Pest
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: |
        php artisan make:test UserTest
        php artisan make:test BasicTest --unit
        cat tests/Feature/UserTest.php
        cat tests/Unit/BasicTest.php
        php artisan test
